@font-face {
	font-family: 'RangeMono-Light';
	src: url('../fonts/RangeMono-Light.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

body {
	font-family: 'RangeMono-Light', serif;
}

h1 {
	font-size: 30px;
	margin-bottom: 30px;
}

p {
	font-size: 20px;
	margin-bottom: 30px;
}

p a {
	color: black;
	text-decoration: underline;
}

a:hover{
	color: rgb(16, 80, 180);
	color: black;
}

#particles-js {
	position: absolute;
	width: 100%;
	height: 700px;
	z-index: 1;
}

#canvas {
	width:100%;
	height:700px;
	background: rgb(22, 35, 59);
}

.container-fluid {
	padding: 0px;
}

.section {
	padding: 80px 55px 140px 55px;
}

.social img {
	padding: 10px 50px 0px 0px;
	width: 90px;
	-webkit-filter: opacity(0.4);
	filter: opacity(0.4);
}

.social img:hover {
	-webkit-filter: opacity(0.8);
	filter: opacity(0.8);
}

#intro h1 {
	color: rgb(75, 213, 240);
}

#header {
	width: 100%;
	height: 400px;
	background-color: rgb(240, 240, 240);
}

#projects h1 {
	color: rgb(32, 86, 245);
}

#projects div.row {
	padding-bottom: 40px;
}

.gray {
	color: rgb(170, 170, 170);
}

#footer p {
	color: rgb(200, 200, 200);
	font-size: 16px;
}